---
// Add path checking
const currentPath = Astro.url.pathname;
const isProjectsPage = currentPath.startsWith('/project/');

// Fetch about page data from WordPress API
const response = await fetch('https://northernsky.auxcgen.com/wp-json/wp/v2/pages/510');
const aboutData = await response.json();

// Define menu items based on the available sections in meta_box
const menuItems = [
  {
    id: 'corporate-profile',
    text: 'Corporate Profile',
    content: aboutData.meta_box.corporate_profile,
  },
  {
    id: 'board-of-directors',
    text: 'Board of Directors',
    content: aboutData.meta_box.directors_profile,
  },
  {
    id: 'md',
    text: 'Managing Director',
    content: aboutData.meta_box.md_profile,
  },
  {
    id: 'certifications',
    text: 'Certifications',
    content: aboutData.meta_box.certificate_images_upload,
  },
  {
    id: 'social-initiatives',
    text: 'Social Initiatives',
    content: aboutData.meta_box.social_initiatives || [],
  },
];
---

<section
  class="min-h-[50rem] bg-darkColor px-[25rem] pt-32 text-5xl text-white"
>
  <ul
    class={`grid grid-cols-1 gap-y-16 ${isProjectsPage ? 'pl-[5rem] lg:pl-[28%] 2lg:pl-[29.5%] 3lg:pl-[31%] hd:pl-[36.5%] 2k:pl-[39.5%]' : 'pl-[48.5%]'}`}
  >
    {
      menuItems.map((item) => (
        <li class="about-item" data-content-id={item.id}>
          <a href={`/about#${item.id}`} class="flex items-center">
            <span>{item.text}</span>
            <span class="arrow pt-3">
              <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1em" viewBox="0 0 24 24">
                <path
                  fill="none"
                  stroke="white"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3 12.013L20.789 12m-6.776 7L21 12l-6.988-7"
                />
              </svg>
            </span>
          </a>
        </li>
      ))
    }
  </ul>
</section>

<style>
  .about-item a {
    transition: font-weight 0.1s ease;
  }
  .about-item:hover a,
  .about-item.active a {
    font-weight: 500;
  }
  .arrow {
    opacity: 0;
    transform: translateX(-10px);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;
  }

  .about-item:hover .arrow,
  .about-item.active .arrow {
    opacity: 1;
    transform: translateX(0);
  }
</style>

<script>
  const aboutItems = document.querySelectorAll('.about-item');

  aboutItems.forEach((item) => {
    item.addEventListener('click', (e) => {
      e.preventDefault();
      setActiveItem(item);
    });
  });

  function setActiveItem(activeItem) {
    aboutItems.forEach((item) => {
      item.classList.remove('active');
    });
    activeItem.classList.add('active');
  }
</script>
