---
import ImageComp from './ImageComp.astro';
---

<!-- start of wpo-about-section -->
<section class="wpo-about-section section-padding">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-12">
        <div class="about-left-image">
          <ImageComp imagePath="/src/images/about.png" altText="About 1" />
          <div class="ab-2">
            <ImageComp imagePath="/src/images/ab-2.jpg" altText="About 2" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="content">
          <h2>About Company</h2>
          <h3>OUR REAL COMMITMENT REACHES BEYOND OIL & GAS.</h3>
          <p>
            Our industry's business policy encompasses the strategies, guidelines, and practices that technology
            companies use to achieve their goals and objectives. The policies may vary depending on the company's size,
            market position, and competitive landscape. Commodo erat amet vitae consectetur consectetur feugiat.
          </p>
          <p>
            Our Capabilities lie in offering innovative, cost effective solutions in collaboration with world-renowned
            manufacturers. Our dedicated team of engineers ensures we stay ahead of the latest technological
            advancements to meet the needs of our clients effectively.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
