---
import ImageComp from './ImageComp.astro';
---

<footer class="bg-gray-100 bg-mediumColor pb-[6.5rem] text-darkColor md:pb-32 2lg:pb-28 3lg:pb-36">
  <div class="containerw border-b-[1.5px] border-darkColor/10">
    <div class="h-full w-full">
      <div
        class="flex min-h-[7.5rem] flex-col items-center justify-center md:flex-row lg:min-h-[11rem] lg:justify-between 2lg:min-h-[11rem] 3lg:min-h-[12.5rem]"
      >
        <div class="footer_logo mb-10 hidden w-[50%] md:mb-0 lg:block">
          <div class="w-[35rem] lg:w-[25rem] 2lg:w-[24rem]">
            <svg
              width="100%"
              height="100%"
              viewBox="0 0 724 97"
              version="1.1"
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              xml:space="preserve"
              style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
            >
              <g transform="matrix(1.46534,0,0,4.75707,-4158.2,-88.4749)">
                <g transform="matrix(1.58662,0,0,0.488732,2854.71,-142.704)">
                  <path
                    d="M68.066,341.79L78.051,356.869L78.308,356.869L78.308,341.79L81.602,341.79L81.602,359.803L76.224,359.803L66.188,344.723L65.93,344.723L65.93,359.803L62.636,359.803L62.636,341.79L68.066,341.79ZM84.381,352.289L84.381,349.304C84.381,344.646 87.495,341.532 92.153,341.532L98.02,341.532C102.678,341.532 105.766,344.646 105.766,349.304L105.766,352.289C105.766,356.947 102.678,360.06 98.02,360.06L92.153,360.06C87.495,360.06 84.381,356.947 84.381,352.289ZM92.307,357.127L97.84,357.127C100.619,357.127 102.472,355.274 102.472,352.495L102.472,349.098C102.472,346.319 100.619,344.466 97.84,344.466L92.307,344.466C89.528,344.466 87.675,346.319 87.675,349.098L87.675,352.495C87.675,355.274 89.528,357.127 92.307,357.127ZM108.545,359.803L108.545,341.79L121.231,341.79C125.04,341.79 127.562,344.054 127.562,347.863C127.562,351.182 125.76,353.267 122.904,353.859L127.819,359.803L123.882,359.803L119.198,354.039L111.839,354.039L111.839,359.803L108.545,359.803ZM111.839,351.105L121.36,351.105C123.11,351.105 124.268,349.947 124.268,348.197L124.268,347.631C124.268,345.881 123.11,344.723 121.36,344.723L111.839,344.723L111.839,351.105ZM136.826,359.803L136.826,344.723L129.157,344.723L129.157,341.79L147.814,341.79L147.814,344.723L140.12,344.723L140.12,359.803L136.826,359.803ZM166.007,359.803L166.007,352.289L153.475,352.289L153.475,359.803L150.181,359.803L150.181,341.79L153.475,341.79L153.475,349.304L166.007,349.304L166.007,341.79L169.301,341.79L169.301,359.803L166.007,359.803ZM173.007,359.803L173.007,341.79L190.403,341.79L190.403,344.62L176.301,344.62L176.301,349.407L188.962,349.407L188.962,352.186L176.301,352.186L176.301,356.972L190.403,356.972L190.403,359.803L173.007,359.803ZM193.233,359.803L193.233,341.79L205.92,341.79C209.728,341.79 212.25,344.054 212.25,347.863C212.25,351.182 210.449,353.267 207.593,353.859L212.508,359.803L208.57,359.803L203.887,354.039L196.527,354.039L196.527,359.803L193.233,359.803ZM196.527,351.105L206.049,351.105C207.798,351.105 208.956,349.947 208.956,348.197L208.956,347.631C208.956,345.881 207.798,344.723 206.049,344.723L196.527,344.723L196.527,351.105ZM220.511,341.79L230.495,356.869L230.753,356.869L230.753,341.79L234.046,341.79L234.046,359.803L228.668,359.803L218.632,344.723L218.375,344.723L218.375,359.803L215.081,359.803L215.081,341.79L220.511,341.79ZM240.222,354.399C240.634,356.097 242.204,357.178 244.237,357.178L250.542,357.178C252.137,357.178 253.63,356.458 253.63,354.656C253.63,352.984 252.343,352.109 250.542,352.109L243.079,352.109C239.965,352.109 237.083,350.359 237.083,346.833C237.083,343.102 240.3,341.584 243.439,341.584L249.924,341.584C253.835,341.584 256.64,343.72 257.181,347.168L253.758,347.168C253.347,345.469 251.803,344.414 249.77,344.414L243.439,344.414C241.869,344.414 240.377,345.109 240.377,346.936C240.377,348.583 241.664,349.458 243.439,349.458L250.85,349.458C254.119,349.458 256.923,351.285 256.923,354.785C256.923,358.516 253.681,360.009 250.542,360.009L244.057,360.009C240.145,360.009 237.34,357.873 236.826,354.399L240.222,354.399ZM259.548,359.803L259.548,341.79L262.842,341.79L262.842,349.329L267.783,349.329L274.448,341.79L278.591,341.79L270.665,350.668L270.665,350.925L278.591,359.803L274.448,359.803L267.783,352.263L262.842,352.263L262.842,359.803L259.548,359.803ZM288.241,359.803L288.241,353.781L279.209,341.79L283.12,341.79L289.759,350.796L290.017,350.796L296.682,341.79L300.593,341.79L291.535,353.807L291.535,359.803L288.241,359.803ZM18.773,351.631L48.261,371.549L18.773,358.092L-10.714,371.549L18.773,351.631ZM18.773,340.837L48.261,360.755L18.773,347.299L-10.714,360.755L18.773,340.837ZM18.773,330.044L48.261,349.962L18.773,336.505L-10.714,349.962L18.773,330.044Z"
                    style="fill:rgb(5,52,81);"></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <div
          class="flex w-full items-center justify-between gap-x-5 md:w-[98%] lg:w-[36.5%] lg:justify-end lg:gap-x-10 2lg:w-[38%]"
        >
          <h4 class="font10 text-nowrap font-semibold tracking-[-0.2px]">Stay Updated</h4>
          <div
            class="relative w-[80%] text-[0.8rem] sm:w-[27rem] md:w-[35rem] lg:w-[45rem] 2lg:w-[100%] 2lg:text-[1.3rem]"
          >
            <input
              type="email"
              placeholder="Enter your email id*"
              class="min-h-[2.9rem] w-full rounded-[1.1rem] bg-lightColor px-6 tracking-tight outline-none placeholder:text-darkColor/50 sm:w-[100%] lg:min-h-[5.2rem] lg:rounded-[1.9rem] lg:px-10"
            />
            <button
              class="font10 leading-1 absolute right-2 top-1/2 -translate-y-1/2 rounded-[0.7rem] bg-darkColor px-[1.4rem] py-[0.2rem] tracking-tighter text-mediumColor md:py-2 lg:right-4 lg:rounded-[1.2rem] lg:px-[2.6rem] lg:py-[0.5rem]"
              >Send</button
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="containerw">
    <div
      class="2lg:font-regular grid w-full grid-cols-2 gap-y-7 py-[3rem] md:grid-cols-9 md:gap-9 lg:grid-cols-12 lg:pb-8 lg:pt-24 2lg:pt-[5rem]"
    >
      <div class="footer-logo w-[20.7rem] md:col-span-9 md:mb-10 lg:hidden">
        <svg
          width="100%"
          height="100%"
          viewBox="0 0 724 97"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xml:space="preserve"
          style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
        >
          <g transform="matrix(1.46534,0,0,4.75707,-4158.2,-88.4749)">
            <g transform="matrix(1.58662,0,0,0.488732,2854.71,-142.704)">
              <path
                d="M68.066,341.79L78.051,356.869L78.308,356.869L78.308,341.79L81.602,341.79L81.602,359.803L76.224,359.803L66.188,344.723L65.93,344.723L65.93,359.803L62.636,359.803L62.636,341.79L68.066,341.79ZM84.381,352.289L84.381,349.304C84.381,344.646 87.495,341.532 92.153,341.532L98.02,341.532C102.678,341.532 105.766,344.646 105.766,349.304L105.766,352.289C105.766,356.947 102.678,360.06 98.02,360.06L92.153,360.06C87.495,360.06 84.381,356.947 84.381,352.289ZM92.307,357.127L97.84,357.127C100.619,357.127 102.472,355.274 102.472,352.495L102.472,349.098C102.472,346.319 100.619,344.466 97.84,344.466L92.307,344.466C89.528,344.466 87.675,346.319 87.675,349.098L87.675,352.495C87.675,355.274 89.528,357.127 92.307,357.127ZM108.545,359.803L108.545,341.79L121.231,341.79C125.04,341.79 127.562,344.054 127.562,347.863C127.562,351.182 125.76,353.267 122.904,353.859L127.819,359.803L123.882,359.803L119.198,354.039L111.839,354.039L111.839,359.803L108.545,359.803ZM111.839,351.105L121.36,351.105C123.11,351.105 124.268,349.947 124.268,348.197L124.268,347.631C124.268,345.881 123.11,344.723 121.36,344.723L111.839,344.723L111.839,351.105ZM136.826,359.803L136.826,344.723L129.157,344.723L129.157,341.79L147.814,341.79L147.814,344.723L140.12,344.723L140.12,359.803L136.826,359.803ZM166.007,359.803L166.007,352.289L153.475,352.289L153.475,359.803L150.181,359.803L150.181,341.79L153.475,341.79L153.475,349.304L166.007,349.304L166.007,341.79L169.301,341.79L169.301,359.803L166.007,359.803ZM173.007,359.803L173.007,341.79L190.403,341.79L190.403,344.62L176.301,344.62L176.301,349.407L188.962,349.407L188.962,352.186L176.301,352.186L176.301,356.972L190.403,356.972L190.403,359.803L173.007,359.803ZM193.233,359.803L193.233,341.79L205.92,341.79C209.728,341.79 212.25,344.054 212.25,347.863C212.25,351.182 210.449,353.267 207.593,353.859L212.508,359.803L208.57,359.803L203.887,354.039L196.527,354.039L196.527,359.803L193.233,359.803ZM196.527,351.105L206.049,351.105C207.798,351.105 208.956,349.947 208.956,348.197L208.956,347.631C208.956,345.881 207.798,344.723 206.049,344.723L196.527,344.723L196.527,351.105ZM220.511,341.79L230.495,356.869L230.753,356.869L230.753,341.79L234.046,341.79L234.046,359.803L228.668,359.803L218.632,344.723L218.375,344.723L218.375,359.803L215.081,359.803L215.081,341.79L220.511,341.79ZM240.222,354.399C240.634,356.097 242.204,357.178 244.237,357.178L250.542,357.178C252.137,357.178 253.63,356.458 253.63,354.656C253.63,352.984 252.343,352.109 250.542,352.109L243.079,352.109C239.965,352.109 237.083,350.359 237.083,346.833C237.083,343.102 240.3,341.584 243.439,341.584L249.924,341.584C253.835,341.584 256.64,343.72 257.181,347.168L253.758,347.168C253.347,345.469 251.803,344.414 249.77,344.414L243.439,344.414C241.869,344.414 240.377,345.109 240.377,346.936C240.377,348.583 241.664,349.458 243.439,349.458L250.85,349.458C254.119,349.458 256.923,351.285 256.923,354.785C256.923,358.516 253.681,360.009 250.542,360.009L244.057,360.009C240.145,360.009 237.34,357.873 236.826,354.399L240.222,354.399ZM259.548,359.803L259.548,341.79L262.842,341.79L262.842,349.329L267.783,349.329L274.448,341.79L278.591,341.79L270.665,350.668L270.665,350.925L278.591,359.803L274.448,359.803L267.783,352.263L262.842,352.263L262.842,359.803L259.548,359.803ZM288.241,359.803L288.241,353.781L279.209,341.79L283.12,341.79L289.759,350.796L290.017,350.796L296.682,341.79L300.593,341.79L291.535,353.807L291.535,359.803L288.241,359.803ZM18.773,351.631L48.261,371.549L18.773,358.092L-10.714,371.549L18.773,351.631ZM18.773,340.837L48.261,360.755L18.773,347.299L-10.714,360.755L18.773,340.837ZM18.773,330.044L48.261,349.962L18.773,336.505L-10.714,349.962L18.773,330.044Z"
                style="fill:rgb(5,52,81);"></path>
            </g>
          </g>
        </svg>
      </div>
      <div class="col-span-2 md:col-span-3 lg:col-span-4">
        <h4
          class="font17 mb-[1.7rem] font-semibold uppercase tracking-[0.25rem] lg:mb-8 lg:tracking-[0.35rem] 2lg:tracking-[0.4rem]"
        >
          Sales office
        </h4>
        <ul class="font12 space-y-[1rem] tracking-tight lg:space-y-5">
          <li>
            <a href="#">1st Floor, J V Building, Opp Govt College, <br /> Hampankatta Mangalore - 575001. India</a>
          </li>
          <li class="flex items-center gap-x-2 pb-4 text-darkColor/80">
            Google Map
            <a href="#" class="">
              <div class="h-3 w-3 lg:h-6 lg:w-6">
                <svg
                  width="100%"
                  height="100%"
                  viewBox="0 0 44 44"
                  version="1.1"
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  xml:space="preserve"
                  style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;"
                >
                  <g transform="matrix(1.40343,0,0,1.40343,-40223.5,-34167.8)">
                    <path
                      d="M28692,24352.1L28692,24370.9C28692,24374.3 28689.2,24377 28685.8,24377L28667,24377C28663.6,24377 28660.8,24374.3 28660.8,24370.9L28660.8,24352.1C28660.8,24348.6 28663.6,24345.9 28667,24345.9L28685.8,24345.9C28689.2,24345.9 28692,24348.6 28692,24352.1ZM28691.1,24352.1C28691.1,24349.1 28688.7,24346.8 28685.8,24346.8L28667,24346.8C28664.1,24346.8 28661.7,24349.1 28661.7,24352.1L28661.7,24370.9C28661.7,24373.8 28664.1,24376.2 28667,24376.2L28685.8,24376.2C28688.7,24376.2 28691.1,24373.8 28691.1,24370.9L28691.1,24352.1ZM28681.9,24356.6L28670.8,24367.7L28670.1,24367.1L28681.3,24356L28673,24356L28673,24355.1L28682.8,24355.1L28682.8,24364.9L28681.9,24364.9L28681.9,24356.6Z"
                      style="fill:rgb(5,52,81);"></path>
                  </g>
                </svg>
              </div>
            </a>
          </li>
          <div class="space-y-[0.4rem] lg:space-y-1 2lg:space-y-2">
            <li class="flex items-center gap-x-2 md:gap-x-6 lg:gap-x-2">
              <span>
                <img src="/images/Phone.svg" alt="support" class="w-[0.8rem] md:w-[1.5rem] 2lg:w-[1rem]" />
              </span>
              <span>
                <p>+91 9900254197</p>
              </span>
            </li>
            <li class="flex items-center gap-x-2 md:gap-x-6 lg:gap-x-2">
              <span>
                <img src="/images/Phone.svg" alt="support" class="w-[0.8rem] md:w-[1.5rem] 2lg:w-[1rem]" />
              </span>
              <span>
                <p>+91 924 2429339</p>
              </span>
            </li>
            <li class="flex items-center gap-x-2 md:gap-x-6 lg:gap-x-2">
              <span>
                <img src="/images/Phone.svg" alt="support" class="w-[0.8rem] md:w-[1.5rem] 2lg:w-[1rem]" />
              </span>
              <span>+91 824 2420339</span>
            </li>
            <li class="flex items-center gap-x-2 md:gap-x-6 lg:gap-x-2">
              <span>
                <img src="/images/Email.svg" alt="support" class="w-[1rem] md:w-[1.2rem] 2lg:w-[1.2rem]" />
              </span>
              <span> info@northernsky.in</span>
            </li>
          </div>
        </ul>
      </div>
      <div class="relative col-span-2 mb-10 mt-7 w-screen md:hidden">
        <span class="absolute left-[-2.5rem] top-0 mb-9 h-[1px] w-screen bg-darkColor/10"></span>
      </div>
      <div class="col-span-1 2lg:ml-[-1.5rem] md:col-span-3 lg:col-span-2">
        <h4 class="font17 mb-7 font-semibold uppercase tracking-[0.25rem] lg:mb-8 lg:tracking-[0.35rem]">Projects</h4>
        <ul class="font12 space-y-[0.45rem] tracking-tight lg:space-y-3 2lg:space-y-2">
          <li class="group">
            <a href="#" class="flex items-center gap-x-2">
              <span class="transition-all duration-500 group-hover:font-semibold">Northernsky Excelsa</span>
              <span class="h-5 w-5 opacity-0 transition-all duration-500 group-hover:translate-x-1 group-hover:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 39 26" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                  <g transform="matrix(-5.01613e-17,-0.177075,-0.177075,5.01613e-17,330.113,2211.18)">
                    <path d="M12404.4,1688.8L12404.4,1864.26L12425.6,1864.26L12425.6,1688.8L12472.4,1734.8L12487.2,1719.7L12415,1648.67L12342.8,1719.7L12357.7,1734.8C12357.7,1734.8 12387.9,1705.1 12404.4,1688.8Z" style="fill:rgb(5,52,81);"/>
                  </g>
                </svg>
              </span>
            </a>
          </li>
          <li class="group">
            <a href="#" class="flex items-center gap-x-2">
              <span class="transition-all duration-500 group-hover:font-semibold">Northernsky City</span>
              <span class="h-5 w-5 opacity-0 transition-all duration-500 group-hover:translate-x-1 group-hover:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 39 26" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                  <g transform="matrix(-5.01613e-17,-0.177075,-0.177075,5.01613e-17,330.113,2211.18)">
                    <path d="M12404.4,1688.8L12404.4,1864.26L12425.6,1864.26L12425.6,1688.8L12472.4,1734.8L12487.2,1719.7L12415,1648.67L12342.8,1719.7L12357.7,1734.8C12357.7,1734.8 12387.9,1705.1 12404.4,1688.8Z" style="fill:rgb(5,52,81);"/>
                  </g>
                </svg>
              </span>
            </a>
          </li>
          <li class="group">
            <a href="#" class="flex items-center gap-x-2">
              <span class="transition-all duration-500 group-hover:font-semibold">Attalea</span>
              <span class="h-5 w-5 opacity-0 transition-all duration-500 group-hover:translate-x-1 group-hover:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 39 26" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                  <g transform="matrix(-5.01613e-17,-0.177075,-0.177075,5.01613e-17,330.113,2211.18)">
                    <path d="M12404.4,1688.8L12404.4,1864.26L12425.6,1864.26L12425.6,1688.8L12472.4,1734.8L12487.2,1719.7L12415,1648.67L12342.8,1719.7L12357.7,1734.8C12357.7,1734.8 12387.9,1705.1 12404.4,1688.8Z" style="fill:rgb(5,52,81);"/>
                  </g>
                </svg>
              </span>
            </a>
          </li>
          <li class="group">
            <a href="#" class="flex items-center gap-x-2">
              <span class="transition-all duration-500 group-hover:font-semibold">West Valley</span>
              <span class="h-5 w-5 opacity-0 transition-all duration-500 group-hover:translate-x-1 group-hover:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 39 26" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                  <g transform="matrix(-5.01613e-17,-0.177075,-0.177075,5.01613e-17,330.113,2211.18)">
                    <path d="M12404.4,1688.8L12404.4,1864.26L12425.6,1864.26L12425.6,1688.8L12472.4,1734.8L12487.2,1719.7L12415,1648.67L12342.8,1719.7L12357.7,1734.8C12357.7,1734.8 12387.9,1705.1 12404.4,1688.8Z" style="fill:rgb(5,52,81);"/>
                  </g>
                </svg>
              </span>
            </a>
          </li>
          <li class="group">
            <a href="#" class="flex items-center gap-x-2">
              <span class="transition-all duration-500 group-hover:font-semibold">Northernsky Barrio</span>
              <span class="h-5 w-5 opacity-0 transition-all duration-500 group-hover:translate-x-1 group-hover:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 39 26" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                  <g transform="matrix(-5.01613e-17,-0.177075,-0.177075,5.01613e-17,330.113,2211.18)">
                    <path d="M12404.4,1688.8L12404.4,1864.26L12425.6,1864.26L12425.6,1688.8L12472.4,1734.8L12487.2,1719.7L12415,1648.67L12342.8,1719.7L12357.7,1734.8C12357.7,1734.8 12387.9,1705.1 12404.4,1688.8Z" style="fill:rgb(5,52,81);"/>
                  </g>
                </svg>
              </span>
            </a>
          </li>
          <li class="group">
            <a href="#" class="flex items-center gap-x-2">
              <span class="transition-all duration-500 group-hover:font-semibold">Greenfield Meadows</span>
              <span class="h-5 w-5 opacity-0 transition-all duration-500 group-hover:translate-x-1 group-hover:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 39 26" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                  <g transform="matrix(-5.01613e-17,-0.177075,-0.177075,5.01613e-17,330.113,2211.18)">
                    <path d="M12404.4,1688.8L12404.4,1864.26L12425.6,1864.26L12425.6,1688.8L12472.4,1734.8L12487.2,1719.7L12415,1648.67L12342.8,1719.7L12357.7,1734.8C12357.7,1734.8 12387.9,1705.1 12404.4,1688.8Z" style="fill:rgb(5,52,81);"/>
                  </g>
                </svg>
              </span>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-span-1 ml-[1.4rem] md:col-span-3 md:ml-0 lg:col-span-2 2lg:ml-6">
        <h4 class="font17 mb-7 font-semibold uppercase tracking-[0.25rem] lg:mb-8 lg:tracking-[0.35rem]">About</h4>
        <ul class="font12 space-y-[0.45rem] tracking-tight lg:space-y-3 2lg:space-y-2">
          <li class="group">
            <a href="#" class="flex items-center gap-x-2">
              <span class="transition-all duration-500 group-hover:font-semibold">Corporate Profile</span>
              <span class="h-5 w-5 opacity-0 transition-all duration-500 group-hover:translate-x-1 group-hover:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 39 26" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                  <g transform="matrix(-5.01613e-17,-0.177075,-0.177075,5.01613e-17,330.113,2211.18)">
                    <path d="M12404.4,1688.8L12404.4,1864.26L12425.6,1864.26L12425.6,1688.8L12472.4,1734.8L12487.2,1719.7L12415,1648.67L12342.8,1719.7L12357.7,1734.8C12357.7,1734.8 12387.9,1705.1 12404.4,1688.8Z" style="fill:rgb(5,52,81);"/>
                  </g>
                </svg>
              </span>
            </a>
          </li>
          <li class="group">
            <a href="#" class="flex items-center gap-x-2">
              <span class="transition-all duration-500 group-hover:font-semibold">Board of Directors</span>
              <span class="h-5 w-5 opacity-0 transition-all duration-500 group-hover:translate-x-1 group-hover:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 39 26" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                  <g transform="matrix(-5.01613e-17,-0.177075,-0.177075,5.01613e-17,330.113,2211.18)">
                    <path d="M12404.4,1688.8L12404.4,1864.26L12425.6,1864.26L12425.6,1688.8L12472.4,1734.8L12487.2,1719.7L12415,1648.67L12342.8,1719.7L12357.7,1734.8C12357.7,1734.8 12387.9,1705.1 12404.4,1688.8Z" style="fill:rgb(5,52,81);"/>
                  </g>
                </svg>
              </span>
            </a>
          </li>
          <li class="group">
            <a href="#" class="flex items-center gap-x-2">
              <span class="transition-all duration-500 group-hover:font-semibold">Certifications</span>
              <span class="h-5 w-5 opacity-0 transition-all duration-500 group-hover:translate-x-1 group-hover:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 39 26" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                  <g transform="matrix(-5.01613e-17,-0.177075,-0.177075,5.01613e-17,330.113,2211.18)">
                    <path d="M12404.4,1688.8L12404.4,1864.26L12425.6,1864.26L12425.6,1688.8L12472.4,1734.8L12487.2,1719.7L12415,1648.67L12342.8,1719.7L12357.7,1734.8C12357.7,1734.8 12387.9,1705.1 12404.4,1688.8Z" style="fill:rgb(5,52,81);"/>
                  </g>
                </svg>
              </span>
            </a>
          </li>
          <li class="group">
            <a href="#" class="flex items-center gap-x-2">
              <span class="transition-all duration-500 group-hover:font-semibold">Social Initiatives</span>
              <span class="h-5 w-5 opacity-0 transition-all duration-500 group-hover:translate-x-1 group-hover:opacity-100">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%" viewBox="0 0 39 26" version="1.1" xml:space="preserve" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:2;">
                  <g transform="matrix(-5.01613e-17,-0.177075,-0.177075,5.01613e-17,330.113,2211.18)">
                    <path d="M12404.4,1688.8L12404.4,1864.26L12425.6,1864.26L12425.6,1688.8L12472.4,1734.8L12487.2,1719.7L12415,1648.67L12342.8,1719.7L12357.7,1734.8C12357.7,1734.8 12387.9,1705.1 12404.4,1688.8Z" style="fill:rgb(5,52,81);"/>
                  </g>
                </svg>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="mx-auto flex w-full items-center justify-between">
      <div class="relative w-screen md:w-[90%] lg:w-[94%]">
        <span
          class="absolute left-[-2.3rem] top-1 mb-9 h-[1.25px] w-screen bg-darkColor/10 md:left-0 md:top-0 md:w-full"
        ></span>
      </div>
      <div class="hidden md:block">
        <a href="#header" id="scroll-to-top">
          <img src="/images/arrowup.svg" alt="NorthernSky" class="w-[5rem] opacity-50 lg:w-[5.5rem]" />
        </a>
      </div>
    </div>
    <div
      class="mt-6 flex w-full flex-col items-center justify-between gap-y-[1.2rem] md:mt-16 md:w-[90%] md:gap-y-20 lg:mt-0 lg:max-w-[71.5%] 2lg:max-w-[71.5%] 3lg:max-w-[70.5%] hd:max-w-[68%] 2lg:flex-row 2lg:gap-y-0"
    >
      <div
        class="flex hidden flex-col items-center justify-start gap-x-28 gap-y-5 md:flex md:flex-row md:gap-y-0 lg:gap-x-20 3lg:pt-4"
      >
        <p class="text-[0.9rem]">@ 2024 NorthernSky Properties Pvt Ltd.</p>
        <div class="flex flex-col items-center gap-x-16 gap-y-5 text-[0.9rem] md:flex-row md:gap-y-0 2lg:gap-x-10">
          <a href="#" class="">Terms of Use</a>
          <a href="#" class="">Privacy Notice</a>
          <a href="#" class="">Trustline</a>
          <a href="#" class="">Cookies Notice</a>
        </div>
      </div>
      <div
        class="mt-5 flex h-full w-full items-center gap-x-[3.2rem] gap-y-5 md:mt-0 md:w-auto md:flex-row md:gap-y-0 2lg:gap-x-6"
      >
        <h4 class="font10 uppercase tracking-[0.25rem] 2lg:text-[1.1rem] 2lg:tracking-[0.4rem]">Follow us on</h4>
        <div class="flex gap-x-6">
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="/images/facebook.svg" alt="Facebook" class="h-[1.35rem] w-[1.35rem] md:h-7 md:w-7" />
          </a>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="/images/Instagram.svg" alt="Instagram" class="h-[1.35rem] w-[1.35rem] md:h-7 md:w-7" />
          </a>
          <a href="#" target="_blank" rel="noopener noreferrer">
            <img src="/images/Twitter.svg" alt="Twitter" class="h-[1.35rem] w-[1.35rem] md:h-7 md:w-7" />
          </a>
        </div>
      </div>
      <div class="relative w-screen md:hidden">
        <span class="absolute left-0 top-3 mb-9 h-[1.25px] w-screen bg-darkColor/10"></span>
      </div>
      <div class="flex w-full items-center pt-7 md:hidden">
        <div class="flex w-full flex-col items-start justify-start gap-y-5 md:hidden">
          <p class="font-regular font8">&copy; 2024 NorthernSky Properties Pvt Ltd.</p>
          <div class="flex items-center gap-x-[1.9rem] gap-y-5 text-[0.6rem] md:flex-row md:gap-y-0">
            <a href="#" class="">Terms of Use</a>
            <a href="#" class="">Privacy Notice</a>
            <a href="#" class="">Trustline</a>
            <a href="#" class="">Cookies Notice</a>
          </div>
        </div>
        <div class="mr-[1.2rem] w-[4rem]">
          <img src="/images/arrowup.svg" class="h-full w-full object-contain opacity-50" alt="" />
        </div>
      </div>
    </div>
  </div>
</footer>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const scrollToTopButtons = document.querySelectorAll('#scroll-to-top, #scroll-to-top-mobile');

    scrollToTopButtons.forEach((button) => {
      button.addEventListener('click', function (e) {
        e.preventDefault();
        smoothScrollToTop();
      });
    });

    function smoothScrollToTop() {
      const c = document.documentElement.scrollTop || document.body.scrollTop;
      if (c > 0) {
        window.requestAnimationFrame(smoothScrollToTop);
        window.scrollTo(0, c - c / 8);
      }
    }
  });
</script>
