---
import ImageComp from './ImageComp.astro';
---

<!-- start of wpo-site-footer-section -->
<footer class="wpo-site-footer">
  <div class="wpo-upper-footer">
    <div class="container">
      <div class="row">
        <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="widget about-widget">
            <div class="logo widget-title">
              <ImageComp imagePath="/src/images/Petrostar-Colour-Logo.png" className="inline" altText="Logo" />
            </div>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt iure blanditiis labore tempora
              inventore laborum error molestias,
            </p>
            <div class="social-widget">
              <ul>
                <li><a href="#"><i class="ti-facebook"></i></a></li>
                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                <li><a href="#"><i class="ti-instagram"></i></a></li>
                <li><a href="#"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="widget link-widget">
            <div class="widget-title">
              <h3>Our Services</h3>
            </div>
            <ul>
              <li><a href="service-single.html">Power &amp; Energy Sectors</a></li>
              <li><a href="service-single.html">Architectures &amp; Design</a></li>
              <li><a href="service-single.html">Explore Tiling &amp; Painiting</a></li>
              <li><a href="service-single.html">Petroleum Production</a></li>
              <li><a href="service-single.html">chemical engineering</a></li>
            </ul>
          </div>
        </div>

        <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="widget link-widget">
            <div class="widget-title">
              <h3>Navigation</h3>
            </div>
            <ul>
              <li><a href="index">Home</a></li>
              <li><a href="contact">Contact</a></li>
              <li><a href="services">Services</a></li>
            </ul>
          </div>
        </div>

        <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="widget newsletter-widget">
            <div class="widget-title">
              <h3>Newsletter</h3>
            </div>
            <p>Get latest updates and offers</p>
            <div class="email-from">
              <input class="fild" type="text" placeholder="Your email" />
              <button type="reset"><i class="ti-arrow-top-right"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <div class="wpo-lower-footer">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <p class="copyright">Copyright © 2024 sailo by <a href="index.html">wpOceans</a>. All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
