---
import ImageComp from './ImageComp.astro';

const services = [
  {
    title: 'Engineering & Instrumentation',
    link: '/',
  },
  {
    title: 'Specialty Materials & Alloys',
    link: '/',
  },
  {
    title: 'Oilfield Equipment & Supplies',
    link: '/',
  },
  {
    title: 'Downhole Solutions',
    link: '/',
  },
];
---

<!-- start of wpo-site-footer-section -->
<footer class="wpo-site-footer">
  <div class="wpo-upper-footer">
    <div class="container">
      <div class="row">
        <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="widget about-widget">
            <div class="logo widget-title">
              <ImageComp imagePath="/src/images/Petrostar-Colour-Logo.png" className="inline" altText="Logo" />
            </div>
            <p>
              Providing innovative solutions and services across various industries, ensuring quality and reliability.
            </p>
            <div class="social-widget">
              <ul>
                <li><a href="#"><i class="ti-facebook"></i></a></li>
                <li><a href="#"><i class="ti-twitter-alt"></i></a></li>
                <li><a href="#"><i class="ti-instagram"></i></a></li>
                <li><a href="#"><i class="ti-linkedin"></i></a></li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="widget link-widget">
            <div class="widget-title">
              <h3>Our Services</h3>
            </div>
            <ul>
              {
                services.map((service) => (
                  <li>
                    <a href={service.link}>{service.title}</a>
                  </li>
                ))
              }
            </ul>
          </div>
        </div>

        <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="widget link-widget">
            <div class="widget-title">
              <h3>Navigation</h3>
            </div>
            <ul>
              <li><a href="index">Home</a></li>
              <li><a href="contact">Contact</a></li>
              <li><a href="services">Services</a></li>
            </ul>
          </div>
        </div>

        <div class="col col-lg-3 col-md-6 col-sm-12 col-12">
          <div class="widget newsletter-widget">
            <div class="widget-title">
              <h3>Newsletter</h3>
            </div>
            <p>Get latest updates and offers</p>
            <div class="email-from">
              <input class="fild" type="text" placeholder="Your email" />
              <button type="reset"><i class="ti-arrow-top-right"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end container -->
  </div>
  <div class="wpo-lower-footer">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <p class="copyright">
            Copyright © Petrostar Innovative 2024 <br /> Developed by
            <a href="https://alifsense.com" target="_blank" rel="noopener noreferrer" title="wpOceans">AlifSense</a>
            All Rights Reserved.
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
