---
import ImageComp from './ImageComp.astro';
---

<header id="header">
  <div class="wpo-site-header wpo-site-header-s4">
    <nav class="navigation navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col-lg-3 col-md-3 col-3 d-lg-none dl-block">
            <div class="mobail-menu">
              <button type="button" class="navbar-toggler open-btn">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar first-angle"></span>
                <span class="icon-bar middle-angle"></span>
                <span class="icon-bar last-angle"></span>
              </button>
            </div>
          </div>
          <div class="col-lg-2 col-md-6 col-6">
            <div class="navbar-header">
              <a class="navbar-brand" href="index.html">
                <ImageComp imagePath="/src/images/Petrostar White Orange.png" className="logo inline" altText="logo" />
              </a>
            </div>
          </div>
          <div class="col-lg-7 col-md-1 col-1">
            <div id="navbar" class="collapse navbar-collapse navigation-holder !justify-center">
              <button class="menu-close"><i class="ti-close"></i></button>
              <ul class="nav navbar-nav mb-lg-0 mb-2">
                <li><a href="/">Home</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="services">Services</a></li>

                <!-- <li class="menu-item-has-children">
                  <a class="active" href="#">Home</a>
                  <ul class="sub-menu">
                    <li><a href="index.html">Home style 1</a></li>
                    <li><a href="index-2.html">Home style 2</a></li>
                    <li><a href="index-3.html">Home style 3</a></li>
                    <li><a class="active" href="index-4.html">Home style 4</a></li>
                    <li><a href="index-5.html">Home style 5</a></li>
                    <li><a href="index-6.html">Home style 6</a></li>
                  </ul>
                </li>
                <li><a href="about.html">About</a></li>
                <li class="menu-item-has-children">
                  <a href="#">Pages</a>
                  <ul class="sub-menu">
                    <li><a href="shop.html">Shop</a></li>
                    <li><a href="shop-single.html">Shop Single</a></li>
                    <li><a href="cart.html">Cart</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="pricing.html">Pricing</a></li>
                    <li><a href="team.html">Team</a></li>
                    <li><a href="team-single.html">Team Single</a></li>
                    <li><a href="404.html">404 Error</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Service</a>
                  <ul class="sub-menu">
                    <li><a href="service.html">Service Style 1</a></li>
                    <li><a href="service-s2.html">Service Style 2</a></li>
                    <li><a href="service-s3.html">Service Style 3</a></li>
                    <li><a href="service-single.html">Service Single</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Project</a>
                  <ul class="sub-menu">
                    <li><a href="project.html">Project</a></li>
                    <li><a href="project-single.html">Project Single</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children">
                  <a href="#">Blog</a>
                  <ul class="sub-menu">
                    <li><a href="blog.html">Blog right sidebar</a></li>
                    <li><a href="blog-left-sidebar.html">Blog left sidebar</a></li>
                    <li><a href="blog-fullwidth.html">Blog fullwidth</a></li>
                    <li class="menu-item-has-children">
                      <a href="#">Blog details</a>
                      <ul class="sub-menu">
                        <li><a href="blog-single.html">Blog details right sidebar</a></li>
                        <li><a href="blog-single-left-sidebar.html">Blog details left sidebar</a></li>
                        <li><a href="blog-single-fullwidth.html">Blog details fullwidth</a></li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a href="contact.html">Contact</a></li> -->
              </ul>
            </div><!-- end of nav-collapse -->
          </div>
          <div class="col-lg-3 col-md-2 col-2">
            <div class="header-right">
              <div class="header-search-form-wrapper">
                <div class="cart-search-contact">
                  <button class="search-toggle-btn"><i class="fi flaticon-loupe"></i></button>
                  <div class="header-search-form">
                    <form>
                      <div>
                        <input type="text" class="form-control" placeholder="Search here..." />
                        <button type="submit"><i class="fi flaticon-loupe"></i></button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <div class="close-form">
                <a class="theme-btn" href="contact">Get In Touch</a>
              </div>
            </div>
          </div>
        </div>
      </div><!-- end of container -->
    </nav>
  </div>
</header>
