---
import ImageComp from './ImageComp.astro';

const slides = [
  {
    image: '/src/images/slider/slide1.jpg',
    title: 'We Build Your Dream',
    text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt illum cupiditate rem at earum voluptatem tempore quae pariatur sed inventore error ducimus,',
  },
  {
    image: '/src/images/slider/slide2.jpg',
    title: 'We Are Industry Factory Solution',
    text: 'Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sunt illum cupiditate rem at earum voluptatem tempore quae pariatur sed inventore error ducimus,',
  },
];
---

<section class="wpo-hero-slider">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      {
        slides.map((slide) => (
          <div class="swiper-slide">
            <div class="slide-inner slide-bg-image" data-background={slide.image}>
              <div class="container-fluid">
                <div class="slide-content">
                  <div data-swiper-parallax="300" class="slide-title">
                    <h2>{slide.title}</h2>
                  </div>
                  <div data-swiper-parallax="400" class="slide-text">
                    <p>{slide.text}</p>
                  </div>
                  <div class="clearfix" />
                  <div data-swiper-parallax="500" class="slide-btns">
                    <a href="about.html" class="theme-btn">
                      About Us
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>

    <!-- swiper controls -->
    <div class="swiper-pagination"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</section>
<!-- start of wpo-feature-section -->
<section class="wpo-feature-section">
  <div class="wraper">
    <div class="item">
      <div class="icon">
        <ImageComp imagePath="/src/images/funfact1.svg" className="inline" altText="1" />
      </div>
      <div class="content">
        <!-- <h2><span class="odometer" data-count="500">00</span>+</h2> -->
        <h3>Accountability</h3>
        <span>We take responsibility for delivering as promised, adhering to a strict code of conduct.</span>
      </div>
    </div>
    <div class="item">
      <div class="icon">
        <ImageComp imagePath="/src/images/funfact2.svg" className="inline" altText="2" />
      </div>
      <div class="content">
        <!-- <h2><span class="odometer" data-count="300">00</span>+</h2> -->
        <h3>Customer focused</h3>
        <span>Delivering tailored solutions with exceptional customer service & support.</span>
      </div>
    </div>
    <div class="item">
      <div class="icon">
        <ImageComp imagePath="/src/images/funfact3.svg" className="inline" altText="3" />
      </div>
      <div class="content">
        <!-- <h2><span class="odometer" data-count="226">00</span>+</h2> -->
        <h3>Global Sourcing</h3>
        <span>Providing access to world-class suppliers and manufacturers.</span>
      </div>
    </div>
    <div class="item">
      <div class="icon">
        <ImageComp imagePath="/src/images/funfact4.svg" className="inline" altText="4" />
      </div>
      <div class="content">
        <!-- <h2><span class="odometer" data-count="25">00</span>+</h2> -->
        <h3>Innovation Led</h3>
        <span>Driving industry forward with cutting-edge technology solutions.</span>
      </div>
    </div>
  </div>
</section>
<style>
  .wpo-hero-slider {
    width: 100%;
    height: 950px;
    display: flex;
    position: relative;
    z-index: 0;
  }

  .slide-inner {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
  }

  .slide-inner:before {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #040128;
    content: '';
    opacity: 0.6;
  }

  .slide-content {
    position: relative;
    z-index: 2;
    padding-bottom: 85px;
    padding-left: 240px;
    margin-top: 140px;
  }

  .slide-title h2 {
    font-size: 70px;
    font-weight: 800;
    line-height: 90px;
    margin: 10px 0 15px;
    color: #fff;
    text-transform: capitalize;
  }

  .slide-text p {
    font-size: clamp(1rem, 2vw, 1.25rem);
    max-width: 800px;
    margin-bottom: 2rem;
    color: #fff;
  }

  .theme-btn {
    display: inline-block;
    padding: 12px 30px;
    background: #ff5733;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: all 0.3s;
  }

  .theme-btn:hover {
    background: #e64a2e;
  }

  @media (max-width: 1199px) {
    .wpo-hero-slider {
      height: 680px;
    }
    .slide-title h2 {
      font-size: 50px;
      line-height: 60px;
    }
  }

  @media (max-width: 991px) {
    .wpo-hero-slider {
      height: 600px;
    }
    .slide-content {
      padding-left: 30px;
    }
    .slide-title h2 {
      font-size: 40px;
      line-height: 55px;
    }
  }

  @media (max-width: 767px) {
    .wpo-hero-slider {
      height: 500px;
    }
    .slide-content {
      padding-left: 10px;
      text-align: center;
    }
    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }
  }
</style>
