---
interface Props {
  image: string;
  title: string;
  description: string;
}

const { image, title, description } = Astro.props;
import ImageComp from './ImageComp.astro';
---

<div class="project-card h-[470px]">
  <div class="image h-full object-cover">
    <ImageComp className="h-full object-cover" imagePath={image} altText={title} />
  </div>
  <div class="content">
    <h3><a href="project-single.html">{title}</a></h3>
    <p>{description}</p>
  </div>
</div>
