---
import ImageComp from './ImageComp.astro';
---

<!-- start of wpo-project-section -->
<section class="wpo-project-section">
  <div class="service-wrap px-32">
    <div class="wpo-section-title text-center">
      <h2 class="!text-[#ff5e14]">Supporting diverse industries</h2>
      <h3>Industries We Serve</h3>
    </div>
  </div>
  <div class="container-fluid">
    <div class="project-slider owl-carousel">
      <div class="project-card">
        <div class="image">
          <ImageComp imagePath="/src/images/industries/1_1.jpg" altText="Project 1" />
        </div>
        <div class="content">
          <h3><a href="project-single.html">Custom Fabrication</a></h3>
          <p>
            Quis id at rhoncus consequat. Aliquam in. Velit phasellus augue tristique integer arcu. Elit sed vestibulum
            tristique suspendisse ut sit.
          </p>
        </div>
      </div>

      <div class="project-card">
        <div class="image">
          <ImageComp imagePath="/src/images/industries/2_1.jpg" altText="Project 2" />
        </div>
        <div class="content">
          <h3><a href="project-single.html">Custom Fabrication</a></h3>
          <p>
            Quis id at rhoncus consequat. Aliquam in. Velit phasellus augue tristique integer arcu. Elit sed vestibulum
            tristique suspendisse ut sit.
          </p>
        </div>
      </div>
      <div class="project-card">
        <div class="image">
          <ImageComp imagePath="/src/images/industries/3_1.jpg" altText="Project 3" />
        </div>
        <div class="content">
          <h3><a href="project-single.html">Custom Fabrication</a></h3>
          <p>
            Quis id at rhoncus consequat. Aliquam in. Velit phasellus augue tristique integer arcu. Elit sed vestibulum
            tristique suspendisse ut sit.
          </p>
        </div>
      </div>
      <div class="project-card">
        <div class="image">
          <ImageComp imagePath="/src/images/industries/4_1.jpg" altText="Project 4" />
        </div>
        <div class="content">
          <h3><a href="project-single.html">Custom Fabrication</a></h3>
          <p>
            Quis id at rhoncus consequat. Aliquam in. Velit phasellus augue tristique integer arcu. Elit sed vestibulum
            tristique suspendisse ut sit.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
