---
import ImageComp from './ImageComp.astro';
---

<section class="wpo-service-section section-padding">
  <div class="service-wrap">
    <div class="wpo-section-title">
      <h2>What We Offer</h2>
      <h3>Products & Services</h3>
    </div>
    <div class="service-slider owl-carousel">
      <div class="item">
        <div class="image">
          <ImageComp imagePath="/src/images/services/s1.png" altText="Service 1" />
          <span>01</span>
          <div class="line-one"></div>
          <div class="line-two"></div>
        </div>
        <div class="content">
          <div class="icon">
            <ImageComp imagePath="/src/images/icon-1.svg" altText="Icon 1" />
          </div>
          <h2><a href="service-single.html">Power &amp; Energy Sectors</a></h2>
          <p>Sagittis fringilla a scelerisque sitro consetetur nunc. Urna est eget pellentesque.</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <ImageComp imagePath="/src/images/services/s2.png" altText="Service 2" />
          <span>02</span>
          <div class="line-one"></div>
          <div class="line-two"></div>
        </div>
        <div class="content">
          <div class="icon">
            <ImageComp imagePath="/src/images/icon-2.svg" altText="Icon 2" />
          </div>
          <h2><a href="service-single.html">Architectures &amp; Design</a></h2>
          <p>Sagittis fringilla a scelerisque sitro consetetur nunc. Urna est eget pellentesque.</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <ImageComp imagePath="/src/images/services/s3.png" altText="Service 3" />
          <span>03</span>
          <div class="line-one"></div>
          <div class="line-two"></div>
        </div>
        <div class="content">
          <div class="icon">
            <ImageComp imagePath="/src/images/icon-3.svg" altText="Icon 3" />
          </div>
          <h2><a href="service-single.html">Explore Tiling &amp; Painiting</a></h2>
          <p>Sagittis fringilla a scelerisque sitro consetetur nunc. Urna est eget pellentesque.</p>
        </div>
      </div>
      <div class="item">
        <div class="image">
          <ImageComp imagePath="/src/images/services/s4.png" altText="Service 4" />
          <span>04</span>
          <div class="line-one"></div>
          <div class="line-two"></div>
        </div>
        <div class="content">
          <div class="icon">
            <ImageComp imagePath="/src/images/icon-4.svg" altText="Icon 4" />
          </div>
          <h2><a href="service-single.html">Petroleum Production</a></h2>
          <p>Sagittis fringilla a scelerisque sitro consetetur nunc. Urna est eget pellentesque.</p>
        </div>
      </div>
    </div>
  </div>
</section>
