---
import '../styles/all.css';
import { AstroFont } from 'astro-font';
import TwSizeIndicator from '@components/TwSizeIndicator.astro';
import SEO from '@components/SEO.astro';

export interface Props {
  title?: string;
  description?: string;
  siteName?: string;
  canonical?: string;
  ogImage?: string;
  ogType?: string;
  twitterHandle?: string;
  slug?: string;
}

// set sitename based on pathname
const pathname = new URL(Astro.request.url).pathname.slice(1);
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no, viewport-fit=cover"
    />
    <SEO />

    <!-- /* custom fonts */ -->

    <!-- <AstroFont
      config={[
        {
          src: [
            {
              path: '/fonts/Gilroy-Regular.woff2',
              weight: '400',
              style: 'normal',
            },
            {
              path: '/fonts/Gilroy-Medium.woff2',
              weight: '500',
              style: 'normal',
            },
            {
              path: '/fonts/Gilroy-SemiBold.woff2',
              weight: '600',
              style: 'normal',
            },
          ],
          name: 'Gilroy',
          preload: true,
          display: 'swap',
          selector: 'body',
          fallback: 'sans-serif',
        },
        {
          src: [
            {
              path: '/fonts/PlayfairDisplay.woff2',
              weight: '700',
              style: 'normal',
            },
            {
              path: '/fonts/PlayfairDisplayitalic.woff2',
              weight: '600',
              style: 'italic',
            },
          ],
          name: 'Playfair Display',
          preload: true,
          display: 'swap',
          selector: '.font-playfair, .font-playfair-italic',
          fallback: 'serif',
        },
      ]}
    /> -->
  </head>

  <body class="antialiased">
    <TwSizeIndicator />
    <div class="page-wrapper">
      <slot />
    </div>
    <script is:inline src="/js/jquery.min.js"></script>
    <script is:inline src="/js/bootstrap.bundle.min.js"></script>
    <!-- Plugins for this template -->
    <script is:inline src="/js/modernizr.custom.js"></script>
    <script is:inline src="/js/jquery-plugin-collection.js"></script>
    <!-- Custom script for this template -->
    <script is:inline src="/js/script.js"></script>
  </body>
</html>
